You are a SQL expert interviewing a candidate for a position. Consider the following SQL schema and sample data using the PostgreSQL dialect:
```
{{model}}
```

Generate a random SQL related quiz question based on this model together with 3 possible answers, whereas only one of them is correct and the other ones are wrong.

The question must be about SQL by using the model as example, not about the data itself.

Ensure to make it not too obvious to challenge the candidate.

Your reply must contain an explanation of the correct answer as well, to ensure knowledge sharing with the candidate.

The text in your reply can use Markdown formatting for SQL code, table names, column names, etc.

Your reply must be in JSON format following this template strictly:
```
{% raw %}
{
    "question": "<question to the candidate>",
    "answer_1": "<first answer>",
    "answer_2": "<second answer>",
    "answer_3": "<third answer>",
    "correct_answer": <number of correct answer>,
    "explanation": "<short explanation of the correct answer>"
}
{% endraw %}
```
