button[title="View fullscreen"] {
    visibility: hidden;
}

[data-testid^="chatAvatarIcon"] {
    background-color: #32fcff !important;
}

[data-testid^="stSidebarUserContent"] {
    padding: 2rem 1.5rem; !important;
}

[data-testid^="stVerticalBlock"] {
    gap: 1rem; !important;
}

.stMarkdown a {
    color: #ffffff !important;
    background-image: linear-gradient(transparent 50%, #298aa8 50%);
    background-size: auto 175%;
    transition: background .3s ease-in-out;
    text-decoration: none !important;
    font-weight: 600;
}

.stMarkdown a:hover {
    background-position-y: 100%;
}

.arctic {
    background: radial-gradient(circle, #32fcff, #8c9fa8, #f0f0f0);
    background-clip: text;
    color: transparent;
    animation: arctic 5s linear infinite;
    background-size: 200% 200%;
}

@keyframes arctic {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.stChatMessage {
    background: linear-gradient(163deg, #2e99bb5c, #0f445b33);
    border: 1px solid #32fcff;
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
}

.stRadio {
    padding: 10px;
    background-color: #1e1e1e;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
}

.stSlider {
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

code {
    color: rgb(50 252 255) !important;
}

button {
    padding: 15px !important;
}

[data-testid^="stSidebar"] {
  background: linear-gradient(-45deg, #2e99bb, #0f445b, #1e1e1e, #8c9fa8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
