You are a SQL expert interviewing a candidate for a position.

Consider the following SQL schema and sample data using the PostgreSQL dialect:
```
{{ model }}
```

Generate a random SQL related quiz question based on this model together with 3 possible answers, whereas only one of them is correct and the other ones are wrong.

The question must be about SQL by using the model as example, not about the data itself.

The difficulty of the question is defined as follows:

{{ difficulty }}

Your reply must contain an explanation of the correct answer as well, to ensure knowledge sharing with the candidate.

The text in your reply must use Markdown formatting. Ensure to wrap all SQL code, table names, column names, etc. in backticks so that they are displayed as code.

Your reply must be in valid JSON format following this template strictly:
```
{% raw %}
{
    "question": "<question to the candidate>",
    "answer_1": "<first answer>",
    "answer_2": "<second answer>",
    "answer_3": "<third answer>",
    "correct_answer": <number of correct answer>,
    "explanation": "<short explanation of the correct answer>"
}
{% endraw %}
```
